@import "../node_modules/@angular/material/theming";
@include mat-core();

$primary: #2196f3;
$accent: #f50057;
$warn: red;

$my-primary: mat-palette($mat-blue, 500);
$my-accent: mat-palette($mat-pink, 500);
$my-warn: mat-palette($mat-red, 500);

$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);

@include angular-material-theme($my-theme);
